.category {
  min-height: 95vh;
  padding: 1rem;
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  justify-items: center;
  align-items: center;

  gap: 2rem;

  max-width: 1400px;
  margin: 0 auto;
}

.categoryTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
