.home {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}
